@model Grade
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="text-center">Delete grade</h3>

@using (Html.BeginForm("Delete", "Grade"))
{
	@Html.AntiForgeryToken()
	@Html.HiddenFor(m => m.Id)
	<div>
		<div class="text-center">
			¡Are you sure want to delete the grade <strong>@Model.Name</strong>?
		</div>
		<div class="ctas">
			<button type="submit" class="btn btn-sm btn-danger">Delete</button>
			@Html.ActionLink("Cancel", "Index", "Grade", null, new { @class = "btn btn-sm btn-primary" })
		</div>
	</div>
}